* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    font-family: Arial, Sans-serif;
    font-size: 16px;
}

.contenedor {
    position: relative;
    width: 80%;
    max-width: 1800px;
    margin: 10px auto;
    overflow: hidden; }

.portada img{
    background: #263b8d;
    
    

}

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.menu li {
    display: inline-block;
    vertical-align: top;

}

.menu li a{
    text-decoration: none;
    margin:12px;
    padding: 12px;
    box-shadow: 0.5px 0.5px 0.5px mediumblue;
    display: inline-block;

}

.menu li a:hover{
    color: white;
    box-shadow: 5px 2px 2px darkblue;
    background: darkblue;

}

.submenu li{
    display: block;
    padding: 10px;
    box-shadow: 5px 2px 2px darkblue;
}

.submenu li:hover{
    background: darkblue;
    color: white;
}

nav li ul {
    display:none;
    min-width: 140px;
    position: absolute;
}
nav li:hover> ul{
    display: block;

}

nav li .submenu li{
    position: relative;
}

header nav .social li a img{
    width:20px;
    margin: 20px;


}

header nav ul li a img:hover {
    color: #fff;
    box-shadow: 2px 2px 2px black;
    border-radius: 10%;
}


.imagen img {
    width: 100%;
    height: 300px;
    vertical-align: center;
    background: white;

}

.row {
    display: flex;
    background: white;
    margin: 10px;
    overflow: hidden;
}

.iconos{
    position: absolute;
    padding: 80px;
}
.postsimagen{
    padding: 10px;
}
.postsimagen img {
    width: 300px;
    height: 300px;
    padding: 10px;
}

 #contact-form {
    margin:80px;
    padding:20px;
     position: absolute;

}
label{
 display: block;
    font-size: 12px;
}
input,textarea {
    margin-bottom: 15px;
   border: 1px solid darkblue;
}
textarea {
    resize: vertical;
    max-height: 300px;
}

input,textarea:focus {
border: 1px solid darkblue;
}

.doctores img{
    padding: 5px;
    border: 10px solid white;



}

.nombres{
    font-family: "Devanagari Sangam MN", sans-serif;
    padding: 85px;
    color: #263b8d;

}
.nombres li{
    color: black;
    display: block;
    padding: 2px;
    margin: 5px 5px;
    box-shadow: 5px 5px 5px mediumblue;

}
.nombres li:hover{
    background: #263b8d;
    color: white;
    box-shadow: 0px 1px 0px;
}
ul.iconos{
    list-style: none;
}

.textoespecifico{
    font-family: "Devanagari Sangam MN", sans-serif;
}

.textoespecifico li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 2px;
    margin: 5px 5px;
    box-shadow: 5px 5px 5px mediumblue;
}

.textoespecifico a:hover{
    background: #263b8d;
    color: white;
    box-shadow: 0px 1px 0px;
}


#perfildoctor{
    width: 80%;
    max-width: 1800px;
    margin: auto;
    left: 0;
    right: 0;
}

.card{
    width: 500px;
    background-color: #fff;
    border: 2px solid #263b8d;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.card > figure > img{
    width: 300px;
    padding: 10px;
}

.card > div > p, .card > div ul {
    margin: 10px;
}

.card_body{
    margin: auto 0;
    top: 0;
    bottom: 0;
}

.fotodoc img{
     width: 300px;


 }


@media screen and (max-width: 800px) {
    .main {
        width: 100%;
    }
}

/*# sourceMappingURL=estilos.css.map */